<!-- The item search filters -->
<div ng-show="viewingList.value" ng-include="'static/partials/mainSearch-partial.html'"></div>

<!-- The pagination controls (next, prev, goToPage) -->
<div ng-show="viewingList.value" ng-include="'static/partials/mainPageCtrl-partial.html'"></div>

<!-- The drop-down for displaying # of items per page in the data table -->
<div ng-show="viewingList.value" ng-include="'static/partials/mainResultsPerPage-partial.html'"></div>

<!-- The # of items in the data table -->
<label ng-show="viewingList.value">
    <b>
        {{resultsCount['Main']}} results:
    </b>
</label>

<!-- The data table -->
<table ng-show="viewingList.value" style="width:500px" class="table table-striped">
    <thead>
        <tr>
            <th style="width:90px" ng-click="sort_by('Title', 'Main')">Title<span style="color:red">{{collapseChar['Main'].Title}}</span></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in pagedItems[currentPage.value] | orderBy:predicate['Main']:reverse['Main'] | limitTo:numItemsDisplayed">
            <td ng-click="grabNote('{{item.Title}}')">
                {{item.Title}}
            </td>
        </tr>
    </tbody>
</table>

<!-- 'More' button to display 25 more items if 'All' is selected in resultsPerPage -->
<div ng-show="itemsPerPage.value == 0 && numItemsDisplayed < resultsCount['Main'] && viewingList.value == true" style="margin-bottom:15px;">
    <input class="BlueBgCtrl" style="width:auto;" type="button" value="More" ng-click="increaseDisplayLimit()" />
</div>