<table style="width:500px" class="table table-striped">
    <thead>
        <tr>
            <th style="width:90px" ng-click="sort_by('Title', 'Main')">Title<span style="color:red">{{collapseChar['Main'].Title}}</span></th>
<!--            <th style="width:120px" ng-click="sort_by('Description', 'Main')">Description<span style="color:red">{{collapseChar['Main'].Description}}</span></th>-->
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in pagedItems[currentPage.value] | orderBy:predicate['Main']:reverse['Main'] | limitTo:numItemsDisplayed">
            <td>
                {{item.Title}}
            </td>
<!--            <td ng-click="selectItem(item.Title, item.Description)">
                {{item.Description}}
            </td>-->
        </tr>
    </tbody>
</table>