<!doctype html>
    <head>
        <title>_Note</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='lib/bootstrap/bootstrap.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    </head>
    <body>
        <div class="page">
            <h1><a href="{{ url_for('home') }}">Welcome to _Note!</a></h1>
            <div class=metanav></div>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
