{% extends "layout.html" %}
{% block body %}
    <script type=text/javascript src="{{ url_for('static', filename='validate.js') }}"></script>
    <script>
    tinymce.init({
        selector: "textarea",
        plugins: [
            "advlist autolink lists link charmap print preview",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime table contextmenu paste"
        ],
        toolbar: "undo redo | styleselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link"
    });

    function ajaxSave() {
        var note = {};
        note["content"] = tinyMCE.activeEditor.getContent();
        note["title"] = document.getElementById("title").value;
        note["overwrite"] = true;

        if(!note["title"]) {
            document.getElementById("msg").innerHTML = "You're missing the title.";
            document.getElementById("msg").className = "alert alert-warning";
        }
        else {
            tinymce.util.XHR.send({
                url : "{{ url_for('save') }}",
                type : "POST",
                content_type : "application/json",
                data : tinymce.util.JSON.serialize(note),
                success: function(response) {
                    console.debug(response);
                    var r = tinymce.util.JSON.parse(response);
                    document.getElementById("msg").innerHTML = r["msg"];
                    if(r["success"])
                        document.getElementById("msg").className = "alert alert-success";
                    else
                        document.getElementById("msg").className = "alert alert-danger";
                },
                error: function (text) {
                    console.debug(text);
                    document.getElementById("msg").innerHTML = "An unexpected error has occured. We apologize for the inconvenience.";
                    document.getElementById("msg").className = "alert alert-danger";
                }
            });
        }
    }
    </script>
    <div id="msg"></div>
    <p><a href="{{ url_for('list') }}">Back</a></p>
    <p>
        <span>Title: </span>
        <input type="text" id="title" maxlength="50" placeholder="please enter a title.." value="{{ note_content['title'] }}" required onkeypress="return keypresshandler(event);"/>
    </p>
    <p>
        <textarea id="content" style="width:100%">{{ note_content['content'] }}</textarea>
        <button onclick="ajaxSave()">Save</button>
    </p>
{% endblock %}
