/* app css stylesheet */

body
{
    background: #b6b7bc;
}

input {
    margin-bottom: 0;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    word-wrap: break-word;
    border:1px solid darkblue;
    background-color:#FAFAFA;
}

.table td, .table th {
    text-align: center;
    cursor: pointer;
}

.table th
{
    cursor: pointer;
    background-color:#0A75C7 !important;
    border:1px solid #00008B;
    color:white;
}

.table th:hover
{
    background-color: #EC8000 !important;
    color: white;
}

.container-generic
{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

h1
{
    text-align: left;
    font-size: 24pt;
    font-weight: bold;
    text-transform: uppercase;
    color: #444;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #E2E4FF;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #D7D7D7;
}

.BlueBgCtrl
{
    background-color:#0A75C7;
    color: white;
}

.BlueBgCtrl:hover
{
    background-color: #EC8000;
}

input[disabled],
input[disabled]:hover
{
    color: #999999;
    cursor: default;
    background-color: transparent;
}

.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination a:hover {
    background-color: #EC8000;
    color: white;
}

select
{
    margin:0;
}

.buttonSelect
{
    width:60px;
    margin-bottom:3px;
}

.noOrange
{
    cursor: default;
    background-color: transparent !important;
    color:black !important;
}
.my-title {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
.my-title.ng-invalid {
    /*border-color: red;*/
    border: 2px solid red;
}
